//! **************************************************************************
// Written by: Map P.68d on Thu Jun 08 11:34:51 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "btnR" LOCATE = SITE "D9" LEVEL 1;
COMP "btnS" LOCATE = SITE "B8" LEVEL 1;
COMP "JA<0>" LOCATE = SITE "T12" LEVEL 1;
COMP "JA<1>" LOCATE = SITE "V12" LEVEL 1;
COMP "JA<2>" LOCATE = SITE "N10" LEVEL 1;
COMP "JA<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "JB<0>" LOCATE = SITE "K2" LEVEL 1;
COMP "JA<4>" LOCATE = SITE "M10" LEVEL 1;
COMP "JB<1>" LOCATE = SITE "K1" LEVEL 1;
COMP "JA<5>" LOCATE = SITE "N9" LEVEL 1;
COMP "JB<2>" LOCATE = SITE "L4" LEVEL 1;
COMP "JA<6>" LOCATE = SITE "U11" LEVEL 1;
COMP "JB<3>" LOCATE = SITE "L3" LEVEL 1;
COMP "JA<7>" LOCATE = SITE "V11" LEVEL 1;
COMP "JC<0>" LOCATE = SITE "H3" LEVEL 1;
COMP "JB<4>" LOCATE = SITE "J3" LEVEL 1;
COMP "JC<1>" LOCATE = SITE "L7" LEVEL 1;
COMP "JB<5>" LOCATE = SITE "J1" LEVEL 1;
COMP "JC<2>" LOCATE = SITE "K6" LEVEL 1;
COMP "JB<6>" LOCATE = SITE "K3" LEVEL 1;
COMP "JC<3>" LOCATE = SITE "G3" LEVEL 1;
COMP "JB<7>" LOCATE = SITE "K5" LEVEL 1;
COMP "JC<4>" LOCATE = SITE "G1" LEVEL 1;
COMP "JC<5>" LOCATE = SITE "J7" LEVEL 1;
COMP "JC<6>" LOCATE = SITE "J6" LEVEL 1;
COMP "JC<7>" LOCATE = SITE "F2" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "sound" LOCATE = SITE "G11" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "btnS_ff" BEL "btnS_db" BEL "JC_0" BEL "JC_1" BEL
        "JC_2" BEL "JC_5" BEL "seg_0" BEL "seg_1" BEL "seg_2" BEL "seg_3" BEL
        "seg_4" BEL "seg_5" BEL "seg_6" BEL "an_0" BEL "an_1" BEL
        "ds_move_height_0" BEL "ds_move_height_1" BEL "ds_move_height_2" BEL
        "ds_move_height_3" BEL "ds_move_height_4" BEL "ds_move_height_5" BEL
        "ds_move_height_6" BEL "ds_move_height_7" BEL "ds_height_1" BEL
        "ds_height_2" BEL "ds_height_3" BEL "ds_height_4" BEL "ds_height_5"
        BEL "ds_height_6" BEL "ds_height_7" BEL "sound_ouput/sound_counter_0"
        BEL "sound_ouput/sound_counter_1" BEL "sound_ouput/sound_counter_2"
        BEL "sound_ouput/sound_counter_3" BEL "sound_ouput/sound_counter_4"
        BEL "sound_ouput/sound_counter_5" BEL "sound_ouput/sound_counter_6"
        BEL "sound_ouput/sound_counter_7" BEL "sound_ouput/sound_counter_8"
        BEL "sound_ouput/sound_counter_9" BEL "sound_ouput/sound_counter_10"
        BEL "sound_ouput/sound_counter_11" BEL "sound_ouput/sound_counter_12"
        BEL "sound_ouput/sound_counter_13" BEL "sound_ouput/sound_counter_14"
        BEL "sound_ouput/sound_counter_15" BEL "_i000001/segment_counter_14"
        BEL "_i000001/segment_counter_13" BEL "_i000001/segment_counter_12"
        BEL "_i000001/segment_counter_11" BEL "_i000001/segment_counter_10"
        BEL "_i000001/segment_counter_9" BEL "_i000001/segment_counter_8" BEL
        "_i000001/segment_counter_7" BEL "_i000001/segment_counter_6" BEL
        "_i000001/segment_counter_5" BEL "_i000001/segment_counter_4" BEL
        "_i000001/segment_counter_3" BEL "divide_clock/lvl_2_output" BEL
        "divide_clock/lvl_1_output" BEL "divide_clock/lvl_3_output" BEL
        "divide_clock/debounce_output" BEL "divide_clock/blinking_output" BEL
        "divide_clock/led_output" BEL "_i000001/segment_clock" BEL
        "divide_clock/lvl_2_counter_22" BEL "divide_clock/lvl_2_counter_21"
        BEL "divide_clock/lvl_2_counter_20" BEL
        "divide_clock/lvl_2_counter_19" BEL "divide_clock/lvl_2_counter_18"
        BEL "divide_clock/lvl_2_counter_17" BEL
        "divide_clock/lvl_2_counter_16" BEL "divide_clock/lvl_2_counter_15"
        BEL "divide_clock/lvl_2_counter_14" BEL
        "divide_clock/lvl_2_counter_13" BEL "divide_clock/lvl_2_counter_12"
        BEL "divide_clock/lvl_2_counter_11" BEL
        "divide_clock/lvl_2_counter_10" BEL "divide_clock/lvl_2_counter_9" BEL
        "divide_clock/lvl_2_counter_8" BEL "divide_clock/lvl_2_counter_7" BEL
        "divide_clock/lvl_2_counter_6" BEL "divide_clock/lvl_2_counter_5" BEL
        "divide_clock/lvl_2_counter_4" BEL "divide_clock/lvl_2_counter_3" BEL
        "divide_clock/lvl_2_counter_2" BEL "divide_clock/lvl_2_counter_1" BEL
        "divide_clock/lvl_2_counter_0" BEL "divide_clock/lvl_1_counter_24" BEL
        "divide_clock/lvl_1_counter_23" BEL "divide_clock/lvl_1_counter_22"
        BEL "divide_clock/lvl_1_counter_21" BEL
        "divide_clock/lvl_1_counter_20" BEL "divide_clock/lvl_1_counter_19"
        BEL "divide_clock/lvl_1_counter_18" BEL
        "divide_clock/lvl_1_counter_17" BEL "divide_clock/lvl_1_counter_16"
        BEL "divide_clock/lvl_1_counter_15" BEL
        "divide_clock/lvl_1_counter_14" BEL "divide_clock/lvl_1_counter_13"
        BEL "divide_clock/lvl_1_counter_12" BEL
        "divide_clock/lvl_1_counter_11" BEL "divide_clock/lvl_1_counter_10"
        BEL "divide_clock/lvl_1_counter_9" BEL "divide_clock/lvl_1_counter_8"
        BEL "divide_clock/lvl_1_counter_7" BEL "divide_clock/lvl_1_counter_6"
        BEL "divide_clock/blinking_counter_25" BEL
        "divide_clock/blinking_counter_24" BEL
        "divide_clock/blinking_counter_23" BEL
        "divide_clock/blinking_counter_22" BEL
        "divide_clock/blinking_counter_21" BEL
        "divide_clock/blinking_counter_20" BEL
        "divide_clock/blinking_counter_19" BEL
        "divide_clock/blinking_counter_18" BEL
        "divide_clock/blinking_counter_17" BEL
        "divide_clock/blinking_counter_16" BEL
        "divide_clock/blinking_counter_15" BEL
        "divide_clock/blinking_counter_14" BEL
        "divide_clock/blinking_counter_13" BEL
        "divide_clock/blinking_counter_12" BEL
        "divide_clock/blinking_counter_11" BEL
        "divide_clock/blinking_counter_10" BEL
        "divide_clock/blinking_counter_9" BEL
        "divide_clock/blinking_counter_8" BEL
        "divide_clock/blinking_counter_7" BEL
        "divide_clock/debounce_counter_22" BEL
        "divide_clock/debounce_counter_21" BEL
        "divide_clock/debounce_counter_20" BEL
        "divide_clock/debounce_counter_19" BEL
        "divide_clock/debounce_counter_18" BEL
        "divide_clock/debounce_counter_17" BEL
        "divide_clock/debounce_counter_16" BEL
        "divide_clock/debounce_counter_15" BEL
        "divide_clock/debounce_counter_14" BEL
        "divide_clock/debounce_counter_13" BEL
        "divide_clock/debounce_counter_12" BEL
        "divide_clock/debounce_counter_11" BEL
        "divide_clock/debounce_counter_10" BEL
        "divide_clock/debounce_counter_9" BEL
        "divide_clock/debounce_counter_8" BEL
        "divide_clock/debounce_counter_7" BEL
        "divide_clock/debounce_counter_6" BEL "divide_clock/lvl_3_counter_8"
        BEL "divide_clock/lvl_3_counter_7" BEL "divide_clock/lvl_3_counter_9"
        BEL "divide_clock/lvl_3_counter_10" BEL "divide_clock/led_counter_8"
        BEL "divide_clock/led_counter_7" BEL "divide_clock/led_counter_6" BEL
        "divide_clock/led_counter_5" BEL "divide_clock/led_counter_4" BEL
        "divide_clock/lvl_3_counter_11" BEL "divide_clock/led_counter_9" BEL
        "divide_clock/lvl_3_counter_12" BEL "divide_clock/led_counter_10" BEL
        "divide_clock/lvl_3_counter_13" BEL "divide_clock/led_counter_11" BEL
        "divide_clock/lvl_3_counter_14" BEL "divide_clock/led_counter_12" BEL
        "divide_clock/lvl_3_counter_15" BEL "divide_clock/led_counter_13" BEL
        "divide_clock/lvl_3_counter_16" BEL "divide_clock/led_counter_14" BEL
        "divide_clock/lvl_3_counter_17" BEL "divide_clock/led_counter_15" BEL
        "divide_clock/lvl_3_counter_18" BEL "divide_clock/led_counter_16" BEL
        "divide_clock/lvl_3_counter_19" BEL "divide_clock/led_counter_17" BEL
        "divide_clock/lvl_3_counter_20" BEL "divide_clock/lvl_3_counter_21"
        BEL "divide_clock/lvl_3_counter_22" BEL "clk_BUFGP/BUFG" BEL "JC_2_1"
        BEL "JC_2_2";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

